
@{
    ViewData["Title"] = "Filter";
}

<h1>Filter</h1>

@model ResultDataList<GetAllProductsDtos>

<h1>Filtered Products</h1>

@if (Model.Entities != null && Model.Entities.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model Name</th>
                <th>Description</th>
                <th>Brand</th>
                <th>Category Id</th>
                <th>Date Added</th>
                <th>Price</th>
                <th>Discount Value</th>
                <th>Discounted Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Entities)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.ModelName</td>
                    <td>@product.Description</td>
                    <td>@product.Brand</td>
                    <td>@product.CategoryId</td>
                    <td>@product.DateAdded</td>
                    <td>@product.Price</td>
                    <td>@product.DiscountValue</td>
                    <td>@product.DiscountedPrice</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No products match the selected criteria.</p>
}

