@model ResultDataList<GetAllProductsDtos>
@{
    ViewData["Title"] = "Mobile";
}

<h1>Mobile</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Discounted Price</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th> <!-- Added column for image -->
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Entities)
        {
            <tr>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.DiscountValue</td>
                <td>@product.DiscountedPrice</td>
                <td>@product.ModelName</td>
                <td>
                    @if (product.Images != null && product.Images.Any())
                    {
                        <img src="@product.Images.FirstOrDefault()" alt="Product Image" style="max-width: 100px;" />
                    }
                    else
                    {
                        <span>No Image Available</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
