@model ResultDataList<GetAllProductsDtos>
@{
    ViewData["Title"] = "Mobile";
}

<h1>Mobile</h1>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">Discounted Price</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Entities)
        {
            <tr>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.DiscountValue</td>
                <td>@product.DiscountedPrice</td>
                <td>@product.ModelName</td>
                <td>
                    @if (product.Images != null && product.Images.Any())
                    {
                        <img src="@product.Images.FirstOrDefault()" alt="Product Image" style="max-width: 100px;" />
                    }
                    else
                    {
                        <span>No Image Available</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@using (Html.BeginForm("Filter", "Product", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Brand:")
        @Html.TextBox("brand", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Min Price:")
        @Html.TextBox("minPrice", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Max Price:")
        @Html.TextBox("maxPrice", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Warranty:")
        @Html.TextBox("warranty", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Discount:")
        @Html.TextBox("discount", null, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
}